@import '../../personalizes-app.scss';

md-sidenav {
    min-width: 15em;
    background-color: md-color($primary, 300);
}

a {
    text-decoration: none;
    color: #000000;
}

.sidemenu {
    list-style-type: none;
    padding: 0;
}

.sidemenu li {
    font-size: 1.4em;
    cursor: pointer;    
    height: 3.6em;
    padding: 1em 0 0 0;
    text-indent: 2em;
}

.sidemenu li:hover {
    font-weight: bold;
    background-color: md-color($accent, A100);
}

.flex-container {
    background-color: md-color($primary, 50);
}

.page-layout {
    height: 100%;
    overflow: none;
}